html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%
}

#controls button {
    display: block;
    width: 100%;
    margin-bottom: 7px;
}

/* Colour picker */
#change-colour-modal input{
    display: block;
    width: 50%;
    float: left;
    height: 80px;
}
#change-colour-modal input[type="text"] {
    padding: 20px;
}
#change-colour-modal input[type="text"]:invalid{
    background: red;
    color: #fff;
}

/* Leaflet tweaks */
.leaflet-draw-toolbar {
    visibility: hidden;
}

.leaflet-draw-actions {
    visibility: hidden;
}

.leaflet-draw-tooltip {
    display: none;
}

.popup {
    color: #000;
    font-size: 12px;
    padding: 10px 0;
}

@media screen and (min-width: 601px) {
    #controls {
        padding: 10px 15px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99999;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
/*    .modal-dialog {
        -webkit-transform: translate(0,-30%);
        -o-transform: translate(0,-30%);
        transform: translate(0,-30%);
        top: 30%;
        margin: 0 auto;
    }*/
    #controls {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        z-index: 99999;
    }
}
